            </div>
			<!-- footer -->
			<footer role="contentinfo" class="site-footer" id="colophon">
			  <div class="container">
			    <div class="row">
			      <div id="accordion" class="collapse-footer">
			        <div class="panel">
			          <div class="panel-heading">
			            <h4 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed"> <span class="glyphicon glyphicon-chevron-down"></span> </a> </h4>
			          </div>
			          <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
			            <div class="panel-body">
			              <div class="row">
			                <div class="col-lg-6">
			                  <h5 class="title"><span>Main Navigation</span></h5>
			                  <div class="menu-main-menu-container">
			                    <ul class="nav nav-footer" id="menu-main-menu-1">			                    
			                    <li><a href="/kontakt">Kontaktirajte nas!</a></li>
			                    </ul>
			                  </div>
			                </div>
			                <div class="col-lg-3 col-sm-6">
			                  <h5 class="title"><span>Site map</span></h5>
			                  <div class="menu-footer-sitemap-container">
			                    <ul class="nav nav-footer" id="menu-footer-sitemap">
			                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87" id="menu-item-87"><a href="http://localhost/wpJoinRedHawk/?page_id=82">Payouts And Fees</a></li>
			                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88" id="menu-item-88"><a href="#">Service Support Model</a></li>
			                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89" id="menu-item-89"><a href="#">About Us</a></li>
			                    </ul>
			                  </div>
			                </div>
			                <div class="col-lg-3  col-sm-6">
			                  <h5 class="title"><span>Don't hesitate to contact us!</span></h5>
			                  <p> Please give us time to let <strong>JoindesignTrick</strong> know about any problems or suggestions what you have.</p>
			                  <div class="clear"> </div>
			                  <a class="btn btn-default btn-sm" href="#">Contact with us</a> </div>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  
			  <!-- Copyright -->
			  <div class="copyright">
			    <div class="container">
			      <div class="row copyright-img">
			        <div class="col-lg-4 col-sm-4"> Total Control True Independence </div>
			        <div class="col-lg-8 col-sm-8 text-right" id="footertext"> Copyright © 2016 Dražen Strbad</div>
			      </div>
			    </div>
			  </div>
			  <!-- /Copyright -->
			</footer>
			<!-- /footer -->
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/r-2.1.0/se-1.2.0/datatables.min.js"></script>

    
	<!-- <script src="/js/herostats.min.js"></script> -->
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>