<% include ../partials/header %>


  <h1>Some of My Favorite Heroes from Dota 2</h1>
  <table id="heroTable" border=0>
    <tr>
      <th id="strengthHeader"> Strength </th>
      <th id="agilityHeader"> Agility </th>
      <th id="intelligenceHeader"> Intelligence </th>
    </tr>
    <tr>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/2/2b/Huskar.png" width="60%" />
        <p class="strengthHeroRef"><a href="http://dota2.gamepedia.com/Huskar"> Huskar </a></p>
        <!--<ul>
          <li>Hero Abilities</li>-->
          <ul>
            <li> Inner Vitality </li>
            <li> Burning Spear </li>
            <li> Berserker's Blood</li>
            <li> Life Break </li>
          </ul>
        <!--</ul>-->
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/9/9c/Clinkz.png" width="60%" />
        <p class="agilityHeroRef"><a href="http://dota2.gamepedia.com/Clinkz"> Clinkz </a></p>
        <ul>
          <li> Strafe </li>
          <li> Searing Arrows </li>
          <li> Skeleton Walk </li>
          <li> Death Pact </li>
        </ul>
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/4/47/Lion.png" width="60%" />
        <p class="intelligenceHeroRef"><a href="http://dota2.gamepedia.com/Lion" > Lion </a></p>
          <ul>
            <li> Earth Spike </li>
            <li> Hex </li>
            <li> Mana Drain </li>
            <li> Finger of Death </li>
          </ul>
      </td>
    </tr>
    <tr>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/0/0c/Abaddon.png" width="60%" />
          <p class="strengthHeroRef"><a href="http://dota2.gamepedia.com/Abaddon"> Abaddon </a></p>
          <ul>
            <li> Mist Coil </li>
            <li> Aphotic Shield </li>
            <li> Curse of Avernus</li>
            <li> Borrowed Time </li>
          </ul>
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/5/51/Phantom_Lancer.png" width="60%" />
          <p class="agilityHeroRef"><a href="http://dota2.gamepedia.com/Phantom_Lancer"> Phantom Lancer </a></p>
          <ul>
            <li> Spirit Lance </li>
            <li> Doppelganger </li>
            <li> Phantom Rush </li>
            <li> Juxtapose </li>
          </ul>
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/a/aa/Nature's_Prophet.png" width="60%" />
          <p class="intelligenceHeroRef"><a href="http://dota2.gamepedia.com/Nature's_Prophet"> Nature's Prophet </a></p>
          <ul>
            <li> Sprout </li>
            <li> Teleportation </li>
            <li> Nature's Call </li>
            <li> Wrath of Nature </li>
          </ul>
      </td>
    </tr>
    <tr>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/d/dd/Sven.png" alt="" />
        <p class="strengthHeroRef"><a href="http://dota2.gamepedia.com/Sven"> Sven </a></p>
        <ul>
          <li>Storm Hammer</li>
          <li>Great Cleave</li>
          <li>Warcry</li>
          <li>God's Strength</li>
        </ul>
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/e/ef/Anti-Mage.png" alt="" />
        <p class="agilityHeroRef"><a href="http://dota2.gamepedia.com/Anti-Mage">Anti-Mage</a></p>
        <ul>
          <li>Mana Break</li>
          <li>Blink</li>
          <li>Spell Shield</li>
          <li>Mana Void</li>
        </ul>
      </td>
      <td>
        <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/5/51/Skywrath_Mage.png" alt="" />
        <p class="intelligenceHeroRef"><a href="http://dota2.gamepedia.com/Skywrath_Mage">Skywrath Mage</a></p>
        <ul>
          <li>Arcane Bolt</li>
          <li>Concussive Shot</li>
          <li>Ancient Seal</li>
          <li>Mystic Flare</li>
        </ul>
      </td>
    </tr>
  </table>



<% include ../partials/footer %>