<% include ../partials/header %>
<% include ../partials/headerimg %>
<script type="text/javascript">
  var najigraniji = <%- JSON.stringify(najigraniji) %>;
  var heroji = <%- JSON.stringify(heroji) %>;
</script>
  <h1>Najigraniji heroji</h1>
  <table id="najigraniji" border="0" width="100%">
    <thead>
      <th> Heroj </th>
      <th> Slika </th>
      <th> Broj meÄeva </th>
    </thead>
    <tbody>
      
    </tbody>
  </table>



<% include ../partials/footer %>