<% include ../partials/header %>
<% include ../partials/headerimg %>
    <table id="heroTableStats" border=0 width="100%" >
        <thead> 
                <th>Slika</th>
                <th>Heroj</th>
                <th>Brzina kretanja</th>
                <th>Minimalna šteta</th>
                <th>Maksimalna šteta</th>
                <th>HP</th>
                <th>Mana</th>
                <th>"STR" dobivanje po levelu</th>
                <th>"Agi" dobivanje po levelu</th>
                <th>"Int" dobivanje po levelu</th>
                <th>Glavni atribut</th>
        </thead>

        <tbody>
          
        </tbody>
        
    </table>
   
<script type="text/javascript">
    var images = <%- JSON.stringify(heroji) %>;
</script>

<% include ../partials/footer %>