<% include ../partials/header %>
<% include ../partials/headerimg %>
    <table id="heroTableStats" border=0 width="100%" >
        <thead> 
                <th>Slika</th>
                <th>Heroj</th>
                <th>Move Speed</th>
                <th>Min Dmg</th>
                <th>Max Dmg</th>
                <th>HP</th>
                <th>Mana</th>
                <th>Str gain</th>
                <th>Agi gain</th>
                <th>Int gain</th>
                <th>Primary Stat</th>
        </thead>

        <tbody>
          
        </tbody>
        
    </table>
   


<% include ../partials/footer %>