<% include ../partials/header %>
                <div class="row">
                    <div class="col-md-12">
						<img class="header-img" src="/img/header.svg">                 
                    </div>
                </div class="row">
                    <div class="col-md-12" id="login">
                    <% if (!user) { %>
						<h2>Dobrodošli!</h2>
						<p><a href="auth/steam">Ulogiraj se putem Steam-a</a></p>
					<% }%>
                    </div>
                <div>
                <br>
                	
                </div>
		    <!-- Three columns of text below the carousel -->
		      <div class="row">
		        <div class="col-lg-4">
		          <img class="img-circle" src="http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/2016/10/03/dota-2.jpg" alt="Generic placeholder image" width="140" height="140">
		          <h2>Najviše igrani heroji</h2>
		          <p> Navedena stranica prikazuje Vaših top 6 najigranjih heroja. </p>
		
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img class="img-circle" src="http://img04.deviantart.net/0a85/i/2014/019/e/3/spirit_of_the_storm___dota_2_spring_2014_by_mikeazevedo-d72tdz9.png" alt="Generic placeholder image" width="140" height="140">
		          <h2> Rekordi</h2>
		          <p> Navedena stranica prikazuje samo neke od rekorda koje ste uspjeli napraviti tijekom igranja. </p>
		        
		        </div><!-- /.col-lg-4 -->
		        <div class="col-lg-4">
		          <img class="img-circle" src="https://wallpaperscraft.com/image/dota_2_art_heroes_93924_602x339.jpg" alt="Generic placeholder image" width="140" height="140">
		          <h2>Mečevi</h2>
		          <p> Navedena stranica prikazuje vaših 100 posljednjih odigranih mečeva. </p>
		        
		        </div><!-- /.col-lg-4 -->
		      </div><!-- /.row -->

<% include ../partials/footer %>