<!DOCTYPE html>
<html>
<head>

</head>
<body>

	<h1>My First Heading</h1>

	<p>My first paragraph.</p>
	<ul>
	<% for(var i=0; i<heroji.length; i++) {%>
	   <li><img src="http://cdn.dota2.com/apps/dota2/images/heroes/<%= heroji[i].name.substring(14)%>_lg.png"></li>
	<% } %>
	</ul>

</body>
</html>