<% include ../partials/header %>
                <div class="row">
                    <div class="col-md-12">
						<img class="header-img" src="/img/header.svg">                 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
						<h1>Moj prvi heading</h1>

						<p>Moj prvi paragraf</p>
						<ul>
						<% for(var i=0; i<heroji.length; i++) {%>
						   <li><img class="img-thumbnail" src="http://cdn.dota2.com/apps/dota2/images/heroes/<%= heroji[i].name.substring(14)%>_lg.png"></li>
						<% } %>
						</ul>                      
                    </div>
                </div>
<% include ../partials/footer %>