<% include ../partials/header %>
<% include ../partials/headerimg %>

  <div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="/kontakt" method="post">
          <fieldset>
            <legend class="text-center">Kontaktirajte nas!</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Ime</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Ime" class="form-control" required="true">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Vaš E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="E-mail" class="form-control" required="true">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Vaša Poruka</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Unesite Vašu poruku ovdje..."  required="true"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <input type="submit" type="send" value="Pošalji">
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>
<% include ../partials/footer %>