<% include ../partials/header %>
<form action="/login" method="post">
	        <div>
	        <label>Korisničko ime:</label>
	        <br>
	        <input type="text" name="username"/><br/>
	        </div>

	        <div>
	        <label>Lozinka:</label>
	        <br>
	        <input type="password" name="password"/>
	        </div>
	        <div>
	        <br>
	        <input type="submit" value="Potvrdi"/>
	        </div>
</form>
<% include ../partials/footer %>