<% include ../partials/header %>
<% include ../partials/headerimg %>
<script type="text/javascript">
    var myChart = null;
    Chart.defaults.global.legend.display = false;
    function prikaziDetalje(matchId) {
        $.get( "/mec-detalji?match=" + matchId,   function( data ) {
          data = JSON.parse(data);
          console.log(data);
          if (data.isRadiant) {
            $('#isradiant').html('<h4><span class="label label-default">Radiant</span></h4>');
          } else  {
            $('#isradiant').html('<h4><span class="label label-default">Dire</span></h4>');
          }
          if (data.radiant_win && data.isRadiant || !data.radiant_win && !data.isRadiant) {
            $('#winlose').html('<h4><span class="label label-success">Pobjeda</span></h4>');
          } else  {
            $('#winlose').html('<h4><span class="label label-danger">Izgubljeno</span></h4>');
          }
          var data = {
              labels: ["Kills", "Deaths", "Assists", "Denies"],
              datasets: [
                  {
                      label: "<%= user.displayName %>",
                      backgroundColor: "rgba(179,181,198,0.2)",
                      borderColor: "rgba(179,181,198,1)",
                      pointBackgroundColor: "rgba(179,181,198,1)",
                      pointBorderColor: "#fff",
                      pointHoverBackgroundColor: "#fff",
                      pointHoverBorderColor: "rgba(179,181,198,1)",
                      data: [data.kills, data.deaths, data.assists, data.denies]
                  }
              ]
          };
          $('#mac-detalji').remove();
          $('#graf').html('<canvas id="mac-detalji" width="100" height="100"></canvas>');
          var ctx = $("#mac-detalji");
          if (myChart != null) {
            myChart.destroy();
          }
          var myChart = new Chart(ctx, {
            type: 'radar',
            data: data,
          });
        });
    }
</script>
    <div class="row">
      <div class="col-md-9 centered">
        <table id="mecevi" border=0 width="100%" >
            <thead> 
              <th>Meč ID</th>
              <th>Datum</th>
              <th>Heroj</th>
              <th>Prikazi</th>
            </thead>
            <tbody>
            </tbody>
        </table>
       </div>
      <div class="col-md-3 centered">
        <div id="graf">
          
        </div>
        <div id="winlose"></div>
        <hr>
        <div id="isradiant"></div>
        
      </div>
    </div>
<script type="text/javascript">
    var mecevi = <%- JSON.stringify(mecevi) %>;
    var heroji = <%- JSON.stringify(heroji) %>;
    var accId = <%= accid %>;
</script>

<% include ../partials/footer %>